/* Este arquivo configura a redenrizacao o registro de vendas
   do site da Seu Garrido Docaria */

   * {
    margin: 0;
    padding: 0;
  }

 /*--------- CABECALHO ---------*/
 
   /*Config da logo do cabecalho */  
   .logo-cab {
    max-width: 70px;
    max-height: 70px;
    vertical-align: middle;
}

/* Config das cores dos botoes do cabecalho*/
.cabecalho {
    width: 100%;
    background-color: lightsalmon;
    position: relative;
    text-align: center;
}

.bts-cab {
    color: rgb(92, 86, 86);
    margin-right: 10px;
}

 /*--------- RODAPE ---------*/

/* Config dos icones das redes sociais*/
.img-red-soc {
    width: 30px;
}

.bts-red-soc {
    width: 100%;
    background-color: lightsalmon;
    margin-bottom: 1px;
}

.txt-red-soc {
    width: 100%;
    text-align: center;
    background-color: rgb(92, 86, 86);
    margin-bottom: 2px;
}

.rodape {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    position: fixed;
    margin: auto;
}

 /*--------- BACKGROUND ---------*/

body {
    background-color: rgb(63, 202, 179);
    height: 100%;
}

 /*--------- CONTEUDO CAD PRODUTO ---------*/
 
 .cont-pag {
/*     min-height: 100%;
    height: 100%;
    width: 100%; */
    position: relative;
    padding-bottom: 10px;
/*     text-align: left; */
   /*  background-color: darksalmon; */
    padding-top: 10px;
 /*    color: rgb(92, 86, 86); */
 }
 .info-form {
    color: rgb(92, 86, 86);
    /* padding-right: 30px; */
    text-align: left;
    padding-bottom: 8px;
    display: inline-block;
    width: 150px;
 }

.tbl{
    text-align: center;
}

 .res-vnd {
     position: absolute;
     right: 0px;
     top: 150px;
     text-align: center;
     width: 100%;
    /*  right: 0px;
     top: 0px; */
 }

 .ger-vnd {
    position: absolute;
    padding-bottom: 30px;
    background-color: darksalmon;
    padding-top: 30px;
    bottom: -200px;
 }

 .res-vnd, .ger-vnd {
     display: inline-block;
     width: 50%;
 }



.conc-vnd {
    position: absolute;
    top: 330px;
    background-color: rgba(233, 150, 122, 0.644);
    width: 100%;
    text-align: center;
}

 .tit-menu {
    color: darksalmon;
    text-align: center;
    width: 600px;

}

.cab-tab {
   color: rgb(92, 86, 86);
   text-align: center;
   padding-right: 30px;
   padding-left: 30px;
   background-color: darksalmon;
}

.colunas-i {
    text-align: center;
    /* padding-right: 30px; */
   color: rgb(92, 86, 86);
   background-color: rgba(233, 150, 122, 0.753);
}

.colunas-p {
   text-align: center;
   /* padding-right: 30px; */
  color: rgb(92, 86, 86);
  background-color: rgba(233, 150, 122, 0.521);
}

.vle, .numb {
    display: inline-block;
    background-color: darksalmon;
}

.butn {
    color: rgb(92, 86, 86);
    background-color: rgb(63, 202, 179);
    margin: 0px;
}

.hist-vnd {
    text-align: center;
}

.btn-hist {
    color: rgb(92, 86, 86);
    background-color: darksalmon;
    margin: 5px;
}

