/* Estilização do Portfolio de Matheus Garrido */

* {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------------*/
/* ----------------------------------- Cabeçalho ---------------------------------*/
/* -------------------------------------------------------------------------------*/

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

header img {
    width: 100px; 
    margin-left: 70px;   
    margin-top: 30px;
    margin-bottom: 30px;
}

.bots-header {
    float: right; /* posicionar bts no canto esquerdo */
    margin-top: 37.275px;
    margin-right: 70px;
    color: rgb(154, 155, 159);
}

.bots-header button {
    margin-left: 50px;
    border-width: 2px;
    font-weight: 400;
    border-color: rgb(254, 226, 82);
    background-color: transparent;
    padding: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 20px;
    color: rgb(154, 155, 159);
}

.bots-header button:hover {
    background-color: rgb(154, 155, 159);
    color: white;
    border-color: transparent;
}

/* -------------------------------------------------------------------------------*/
/* ------------------------------- Conteudo Home ---------------------------------*/
/* -------------------------------------------------------------------------------*/

/* main {
    margin-left: 20px;
    margin-right: 20px;
} */

/* ------------------------------- secao apresentacao ----------------------------*/

#foto-perfil {
    border-radius: 50%;
    width: 300px;
}

#img-elemnts {
    width: 100%;
    position: absolute;
    display: block;
    top: 400px;
    z-index: 9999;
}

.apresentacao {
    text-align: center;
    width: 100%;
}

.apresentacao h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: rgb(254, 226, 82);
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
}

.apresentacao p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: rgb(154, 155, 159);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
}

.apresentacao div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.apresentacao div:first-of-type {
    display: inline-block;
    margin-right: 80px;
}

/* --------------------------------- secao curriculo -----------------------------*/
.curriculo {
    text-align: center;
    width: 100%;
    position: absolute;
    /* background-color: rgb(154, 155, 159); */
    background-image: linear-gradient(to left, rgb(154,155,159) 30%, rgb(115,115,116) 30%, rgb(115,115,116), rgb(154,155,159) 30%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 150px;
    top: 840px;
}

.curriculo article {
    width: 20%;
    /* background-color: white; */
    background-color: rgb(254, 226, 82);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(115,115,116);
    /* border-color: white; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.curriculo article ul {
    list-style-type: none;
}

.curriculo article h3 {
    font-size: 40px;
    color: rgb(154, 155, 159);
    padding: 5px;
}

.curriculo article h4 {
    font-size: 25px;
    color: white;
    padding: 5px;
}

.curriculo article p {
    color: white;
    padding-bottom: 10px;
}

.curriculo article ul {
    padding: 10px;
}

.curriculo article ul li {
    padding-top: 10px;
}

/* ------------------------------ secao soft/hard skills -------------------------*/

.skills {
    text-align: center;
    width: 100%;
    position: absolute;
    /* background-color: white; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 150px;
    top: 1450px;
}

.skills article {
    width: 20%;
    /* background-color: white; */
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(115,115,116);
    /* border-color: white; */
    border-radius: 20px;
    padding: 10px;
   /*  margin: 10px; */
}

.skills article img {
    height: 80px;
    padding-bottom: 20px;
}

.skills article ul {
    list-style-type: none;
}

.skills h3 {
    color: rgb(254, 226, 82);
    padding-bottom: 20px;
    font-size: 40px;
}

.skills h5 {
    padding-bottom: 10px;
    font-size: 20px;
}

.skills p {
    padding-bottom: 10px;
    color: rgb(154, 155, 159);
}

.skills article ul li {
    padding-top: 10px;
}

.soft-skills {
    margin-right: 100px;
}

.front {
    margin-right: 10px;
}



